// Render panel as flat
.v-expansion-panel::before {
  bottom: unset;
  box-shadow: none;
}

// Remove horizontal line between panels
.v-expansion-panel:not(:first-child)::after {
  border-top: none;
}

// Numbering of outermost level
// Procedure
.procedure>ol {
  counter-reset: item 3;
  padding: 0;
}


// Numbering of inner levels
// Scope
.scope ol {
  counter-reset: item 0;
  padding: 0;
}

// Restrictions
.restrictions ol {
  counter-reset: item 1;
  padding: 0;
}

// References
.references ol {
  counter-reset: item 2;
  padding: 0;
}

// Procedure
.scope>ol ol,
.restrictions>ol ol,
.references>ol ol,
.procedure>ol ol {
  counter-reset: item;
  padding: 0;
}


ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

.procedure>ol>li,
.scope>ol>li,
.restrictions>ol>li,
.references>ol>li {
  visibility: hidden;
}

.procedure>ol>li>*,
.scope>ol>li>*,
.restrictions>ol>li>*,
.references>ol>li>* {
  visibility: visible;
}

li ol > li {
  margin: 0;
}

li {
  margin-bottom: 10px;
  margin-top: 10px;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

// ol > li:first-child{
//   visibility: hidden;
//   display: inline;
// }

.procedure,
.scope,
.references,
.restrictions {
  visibility: hidden;
}

ol{
  visibility: visible;
}

div.v-card__text {
  padding: 0;
}

.procedure,
.scope,
.restrictions,
.references {
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
}

.v-application .scope ol,
.v-application .restrictions ol,
.v-application .references ol,
.v-application .procedure ol {
  padding-left: 0;
}

.v-expansion-panel-content__wrap {
  padding: 0;
}

.v-expansion-panel div.v-card__text {
  padding-top: 0;
}
