v-container(
  fluid
  fill-height
)
  v-layout(
    row
    justify-space-around
    v-show="isLoading"
  )
    Split(
      :gutterSize="5"
    )
      SplitArea(:size="25")
        sidebar
      SplitArea(:size="75")
        contents
