v-container(
  fluid
  fill-height
)
  v-layout(
    row
    justify-space-around
  )
    Split(
      :gutterSize="5"
    )
      //- Sidebar
      SplitArea(:size="25")
        sidebar
      //- Main content
      SplitArea(:size="75")
        contents
