v-container
  v-layout(row)
    v-flex(xs6)
      <v-treeview :items="items"></v-treeview>
    v-flex(xs6)
      v-card
        v-card-title This is a dummy title
        v-card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis expedita delectus impedit porro adipisci distinctio officia voluptate quisquam, quod atque.