v-expansion-panel
  v-expansion-panel-header
    strong Search for Term
  v-expansion-panel-content
    v-text-field(
      v-model="search"
      class="mb-3"
      clearable
      dark
      flat
      hide-details
      placeholder="Search Procedure Text"
      solo
    )