v-app-bar(app dark)
  //- 'Hamburger' icon
  v-app-bar-nav-icon(
    @click.native="toggleDrawer"
  )

  //- Toolbar title
  v-toolbar-title(
    class="headline text-uppercase"
  )
    span Cygnus
    span(
      class="font-weight-light"
    ) OPS