v-flex(
  xs8
)
  v-card
    v-card-title {{ procedure.title }}
    v-card-title References
    v-card-text(v-html="procedure.references")
    v-card-title Instructions
    v-card-text( 
      v-html="procedure.content"
    )