v-flex(class="align-center")
  //- Procedure
  v-card(
    v-show="procedure.title"
    class="mx-10"
  )
    //- Header
    p.display-1.pt-5 {{ procedure.title }}
    p.subtitle {{ procedure.number }} Revision {{ procedure.revision }} ({{ procedure.date }})
      v-spacer
      span.subtitle Written by: {{ procedure.author }} / Approved by: {{ procedure.approval }}
    
    v-divider

    //- Sections
    expandedSection(:sections="sections")

