v-flex(class="align-center")
  //- Procedure
  v-card(
    v-show="procedure.title"
    class="mx-10"
  )
    //- Header
    p.display-1.pl-6 {{ procedure.title }}
    p.subtitle.pl-6 {{ procedure.number }} Revision {{ procedure.revision }} ({{ procedure.date }})
    p.subtitle.pl-6 Written by: {{ procedure.author }} / Approved by: {{ procedure.approval }}
    
    //- Sections
    expandedSection(:sections="sections")

