v-content(id="nav")
  //- Page tabs
  v-tabs(
    hide-slider
    show-arrows
  )
    v-tab(
      v-for="(tab, i) in tabs"
      :to="{name: tab.name}"
      :key="i"
      dark
    ) {{ tab.name }}

      v-spacer
        div
          v-btn(v-if="tabs.length > 1"
            small 
            icon 
            @click.native="closeTab(i)"
          )
            v-icon(
              small
            ) mdi-close-circle

  //- Inject pages here
  router-view