//- Slide-out navigation drawer
v-navigation-drawer(
  app
  disable-resize-watcher
  v-model = "position"
  temporary
)

  v-list(shaped)
    v-list-item(
      v-for="route in routes"
      :key="route.name"
      :to="route.path"
    )
      v-list-item-icon
        v-icon {{ route.icon }}
      v-list-item-title {{ route.name }}
        



    